<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>92058722364-h8hfg63g4rdcnoo2a5347v9b1910phbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92058722364-h8hfg63g4rdcnoo2a5347v9b1910phbf</string>
	<key>API_KEY</key>
	<string>AIzaSyAU1xPWjt3QNUdAPiCPpU-A1rjgghNltQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>92058722364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.techlold.Adega</string>
	<key>PROJECT_ID</key>
	<string>adega-48d70</string>
	<key>STORAGE_BUCKET</key>
	<string>adega-48d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92058722364:ios:d0a976e373da1033</string>
	<key>DATABASE_URL</key>
	<string>https://adega-48d70.firebaseio.com</string>
</dict>
</plist>